.list_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 5rem;
  padding-bottom: 5rem;
}

.categories {
  list-style: none;
  display: flex;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #bbb;
}

.categories li {
  margin-right: 2rem;
}

.categories li .link {
  text-decoration: none;
  font-size: 1.6rem;
  padding: 0 1.5rem;
  background-color: #bbb;
  border-radius: 100px;
  color: #fff;
  font-weight: 500;
  border: 1px solid #bbb;
}

.active {
  color: #750bb0 !important;
  border-color: #750bb0 !important;
  background-color: #dbb2f1 !important;
}
