.footer {
  background-color: #2f3069;
  padding: 5rem;
  text-align: center;
  color: #ccc;
  margin-top: 8rem;
}

.headline {
  margin-bottom: 2rem;
  font-size: 3rem;
  color: #ccc;
}

.footer__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  flex: 0 0 60%;
}

.copyright__tag {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.copyright__text {
  font-size: 1.3rem;
}

.links {
  flex: 0 0 25%;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.link__item {
  font-size: 1.7rem;
  transition: all 0.5s;
}

.link__item a {
  text-decoration: none;
  color: #ccc;
}

.link__item:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
  transform: rotateZ(15deg) scale(1.1);
}

.link__item:hover a {
  color: #750bb0;
}
