.about {
  padding: 0 5rem;
  /* margin-bottom: 8rem; */
  text-align: center;
  color: #444;
}

.about h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.about p {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.button {
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  background-color: #750bb0;
  border: 1px solid #750bb0;
  color: #eee;
  border-radius: 0.8rem;
  font-size: 1.5rem;
  transition: all 0.3s;
}

.button:hover {
  background-color: transparent;
  color: #750bb0;
}
