@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;400;500;600&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: #eee;
}

main {
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 600px) {
  main {
    margin-top: 15rem;
  }
}
